.DS_Store
.bundle
.env
logs/*.log
logs/**/*.log
log/*.log
log/**/*.log
tmp/**/*
.sass-cache/*
*.bak
tmp/*
*.swp
*~
~*
Thumbs.db
*/Thumbs.db
db/*.db
db/*.sqlite*
.yardoc/**/*
doc/coverage
Gemfile.lock
.dev_flow
